pip install fastapi && \
pip install "uvicorn[standard]" && \
pip install numpy pandas && \
pip install opencv-python  && \
pip install mediapipe && \
pip install Jinja2 && \
pip install python-multipart && \