<!DOCTYPE html>
<html lang="spa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>capture image</title>
    <link rel="stylesheet" type="/modules/static/ccs" href="/modules/static/ccs/styles.css">
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }


    </style>
</head>
<body>
    <header> 
        <h1> Pestaña de Adqusición de imagen de la mano </h1>
        <h2>Camara: </h2>
    </header>
    
    {% if mensagge %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            {{mensagge}}
        </div>
    {% endif %}
        
    <div class="video-wrap">
        <video id="video" playsinline autoplay></video>
    </div>
    <!— Button -->
    <div class="controller">
        <button id="snap">Captura</button>
    </div>
    <!— Draw image -->
    <canvas id="canvas" width="640" height="480"></canvas> 
    <form method="post">
        <input type="hidden" file id="url_image" name="url_image" value="Defecto"/>     
        <input type="submit" onclick="confirmFunction()">
    </form>
    
</body>

<script>
    'use strict';

const video = document.getElementById('video');
const snap = document.getElementById("snap");
const canvas = document.getElementById('canvas');
const errorMsgElement = document.querySelector('span#errorMsg');

const constraints = {
    audio: false,
    video: {
    width: 800, height: 600
        },
    Image: {
        width: 800, height: 600
            }
    };

// Acceso a la webcam
async function init() {
try {
    const stream = await navigator.mediaDevices.getUserMedia(constraints);
    handleSuccess(stream);
    } catch (e) {
    errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
    }
    }
// Correcto!
function handleSuccess(stream) {
    window.stream = stream;
    video.srcObject = stream;
    }
// Load init
init();
// Dibuja la imagen
var context = canvas.getContext('2d');
    snap.addEventListener("click", function() {
    context.drawImage(video, 0, 0, 640, 480);
    const dataURL = canvas.toDataURL();
    document.getElementById("url_image").setAttribute('value', dataURL);
    });

function confirmFunction() {
    if (confirm("¿Deseas enviar la imagen?") == true) {
        document.getElementById("ColorChanger").style.backgroundColor = "green";
    } else {
        document.getElementById("ColorChanger").style.backgroundColor = "#C0C0C0";
    }
}

</script>

</html>