<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta lang="spa">
    <title>SemillIAS Sings</title>
</head>
<body>
    <header>
        <h1 id="Title_main">  Demo app: Signs  </h1>
        <ul>
            <li> Adqusición de nuevas imagenes </li>
            <li> Prueba modelo lenguaje se señas </li>
          </ul>

    </header>
    
</body>
</html>