.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    }
    
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
    }

.Success {
    padding: 20px;
    background-color: #3c763d;
    color: white;
    }

.bar_home {
    background-color:  darkcyan; 
    border-style: dashed;
    }

img.imghome {
    height: 100px;
    width: 150px;
    }

li {color: #f44336;}